header {
  display: flex;
  width: 100%;
}

header nav,
header .user {
  width: 100%;
  max-width: 330px;
}

.button__toggle {
  display: none;
  visibility: hidden;
  flex-direction: column;
  align-items: flex-start;
  row-gap: 4px;

  background: transparent;
  transition: all 0.6s;
}

.button__toggle span {
  display: block;
  width: 24px;
  height: 2px;
  background: var(--primary);
  transition: all 0.6s;
}

.button__toggle span:nth-child(even) {
  width: 20px;
}

.button__toggle.active {
  transform: rotate(180deg);
}

.button__toggle.active span:nth-child(even) {
  opacity: 0;
}

.button__toggle.active span:nth-child(1) {
  transform: rotate(45deg) translateY(8.5px);
}

.button__toggle.active span:nth-child(3) {
  transform: rotate(-45deg) translateY(-8px);
}

.header__content {
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin: 0 auto;
  width: 100%;
  max-width: 1440px;
  padding: 1.625rem;
}

.navigation {
  display: flex;
  align-items: center;
  column-gap: 3.5rem;

  list-style: none;
}

.navigation li {
  position: relative;
}

.navigation li a,
.user span {
  font-size: 1.125rem;
  line-height: 1.125rem;
  color: var(--primary);
}

.navigation li.active::before {
  content: "";

  position: absolute;
  bottom: 0;
  left: 0;

  background: var(--secondary);
  width: 100%;
  height: 2px;

  transform: translateY(6px);
}

.header__content h1 {
  font-size: 2rem;
  line-height: 2.375rem;
  font-weight: 500;
  text-transform: uppercase;
  color: var(--primary);
}

.user {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  column-gap: 1rem;
}

.user__avatar {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;

  padding: 0.125rem;
  background: linear-gradient(
    90.35deg,
    #4ac08f 2.49%,
    #2fb4ff 101.2%,
    #2fb4ff 101.2%
  );
}

.user__avatar:hover {
  cursor: pointer;
}

.user__avatar img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}

@media (max-width: 1080px) {
  header nav,
  .user {
    max-width: 280px;
  }

  .navigation {
    column-gap: 2rem;
  }
}

@media (max-width: 768px) {
  header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
  }

  .button__toggle,
  .header__content h1,
  .user {
    z-index: 3;
  }

  .button__toggle {
    display: flex;
    visibility: visible;
  }

  .navigation {
    position: fixed;
    top: -100vh;
    left: 0;

    z-index: 2;
    width: 100%;
    height: 100vh;
    background: rgba(20, 6, 31, 0.8);
    backdrop-filter: blur(4px);

    flex-direction: column;
    justify-content: center;
    row-gap: 48px;

    transition: all 0.6s;
  }

  .navigation.active {
    transform: translateY(100vh);
  }

  .navigation li a {
    font-size: 2rem;
    line-height: 2.5rem;
  }

  .header__content h1 {
    flex: 1;
    text-align: center;
    margin-right: -320px;
  }

  header nav {
    max-width: 0;
  }

  .user {
    max-width: 48px;
  }

  .user span {
    display: none;
    visibility: hidden;
  }
}

@media (max-width: 650px) {
  header {
    background: none;
  }

  .button__toggle {
    width: 2.5rem;
  }

  .header__content h1 {
    font-size: 1.25rem;
    line-height: 1.125rem;
  }

  .user {
    max-width: 2.5rem;
  }

  .user__avatar {
    width: 2.5rem;
    height: 2.5rem;
  }
}
